{% extends "layout.html" %}
{% block title %}Kirjautuminen{% endblock %}
{% block content %}

<h3>Lisää käyttäjä</h3>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

<form action="/add_user" method="POST">
    Käyttäjän nimi:
    <input type="text" name="username">
    <br><br>
    Admin Oikeudet
    <br>
    <input type="radio" name="admin" value="True">Kyllä
    <br>
    <input type="radio" name="admin" value="False">Ei
    <br><br>
    <input type="hidden" name="form_id" value="{{ form_id }}">
    <input type="submit" value="submit">
</form>

{% endblock %}