<h1>Time Logging</h1>
{% with messages = get_flashed_messages() %} {% if messages %}
<ul>
  {% for message in messages %}
  <li>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %} {% endwith %}

{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>

<p><a href="/create_form">Luo lomake</a></p>

<p>Täytä Lomake:</p>
{% for form_id, title in user_forms %}
<form action="/form" method="POST">
    <input type="hidden" value="{{ form_id }}" name="form_id">
    <input type="submit" value="{{ title }}">
</form>
{% endfor %}

{% if admin %}
    Lisää käyttäjiä lomakkeisiin:
    {% for form_id, title in admin_forms %}
    <form action="add_user_to_form" method="POST">
        <input type="hidden" value="{{ form_id }}" name="form_id">
        <input type="submit" value="{{ title }}">
    </form>
    {% endfor %}
{% endif %}

<a href="/logout">Kirjaudu ulos</a>

{% else %}
    <ul>
        <li><a href="/login">Kirjaudu Sisään</a></li>
        <li><a href="/create_user">Luo uusi käyttäjä</a></li>
    </ul>
{% endif %}
